/**
 * Navigation Component
 */

// Body Padding Offset for Nav
body {
    padding-top: 60px;
}

.nav {
    @extend .shadow-1;

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:60px;
    background: $light;

    &__wrapper {
        @extend .wrapper-1280;

        display: flex;
        flex-direction: row;
        height:100%;

        &_link {
            display: flex;
            flex-direction: row;

            a {
                @extend .font-bold;

                display:flex;
                font-size: .8rem;
                text-transform: uppercase;
                padding: 0 1.5rem;
                align-items: center;
                justify-content: center;

                &:hover {
                    text-decoration: underline;
                }
            }
            &:first-child a {
                padding-left: 0;
            }
        }

        @media all and (max-width:1320px) {
            padding: 0 1rem;
        }
    }

}