<!doctype html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Infield Digital FE Challenge</title>
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="master.css">
</head>

<body>

    <!-- Navigation -->
    <nav class="nav">
        <ul class="nav__wrapper">
            <li class="nav__wrapper_link">
                <a href="index.html">FE Challenge</a>
            </li>
            <li class="nav__wrapper_link">
                <a href="https://github.com/pstrawberrie" target="_blank">My Github</a>
            </li>
        </ul>
    </nav>

    <!-- Main Content -->
    <main class="main-content">
        <div class="component-area">

            <section class="component-area__left">

                <!-- Profile Component (initially smaller) -->
                <div class="profile-card">
                    <a href="#profile-full" class="profile-card__header">
                        <img class="profile-card__header_banner" src="images/banner2.jpg" alt="Infield Digital banner">
                        <img class="profile-card__header_avatar" src="images/avatar.jpg" alt="Infield Digital avatar">
                    </a>
                    <div class="profile-card__body">
                        <div class="profile-card__body_cta">
                            <button class="profile-card__body_cta_twitter">
                                Follow
                            </button>
                        </div>
                        <a class="profile-card__body_title">
                            Infield Digital
                        </a>
                        <div class="profile-card__body_desc">
                            Content, Commerce, and Coffee &mdash; 
                            <a href="#">#AEM/CQ5</a>, 
                            <a href="#">#Magento</a>,
                            and <a href="#">#LaPavoni</a> 
                        </div>
                    </div>
                    <div class="profile-card__footer">
                        San Francisco &bullet; infielddigital.com &bullet; Joined March 2009
                    </div>
                </div>

            </section>

            <section class="component-area__right">

                <!-- Profile Component (initially larger) -->
                <div class="profile-card push-bot">
                    <a href="#profile-full" class="profile-card__header">
                        <img class="profile-card__header_banner" src="images/banner2.jpg" alt="Infield Digital banner">
                        <img class="profile-card__header_avatar" src="images/avatar.jpg" alt="Infield Digital avatar">
                    </a>
                    <div class="profile-card__body">
                        <div class="profile-card__body_cta">
                            <button class="profile-card__body_cta_twitter">
                                Follow
                            </button>
                        </div>
                        <a class="profile-card__body_title">
                            Infield Digital
                        </a>
                        <div class="profile-card__body_desc">
                            Content, Commerce, and Coffee &mdash; 
                            <a href="#">#AEM/CQ5</a>, 
                            <a href="#">#Magento</a>,
                            and <a href="#">#LaPavoni</a> 
                        </div>
                    </div>
                    <div class="profile-card__footer">
                        San Francisco &bullet; infielddigital.com &bullet; Joined March 2009
                    </div>
                </div>

                <!-- Profile Component (initially larger) -->
                <div class="profile-card">
                        <a href="#profile-full" class="profile-card__header">
                            <img class="profile-card__header_banner" src="images/banner2.jpg" alt="Infield Digital banner">
                            <img class="profile-card__header_avatar" src="images/avatar.jpg" alt="Infield Digital avatar">
                        </a>
                        <div class="profile-card__body">
                            <div class="profile-card__body_cta">
                                <button class="profile-card__body_cta_twitter">
                                    Follow
                                </button>
                            </div>
                            <a class="profile-card__body_title">
                                Infield Digital
                            </a>
                            <div class="profile-card__body_desc">
                                Content, Commerce, and Coffee &mdash; 
                                <a href="#">#AEM/CQ5</a>, 
                                <a href="#">#Magento</a>,
                                and <a href="#">#LaPavoni</a> 
                            </div>
                        </div>
                        <div class="profile-card__footer">
                            San Francisco &bullet; infielddigital.com &bullet; Joined March 2009
                        </div>
                    </div>

            </section>

        </div>
    </main>

    <!-- Scripts -->
    <script src="app.js"></script>
</body>

</html>